.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #1a1b1f;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 44px;
  line-height: 62px;
  font-weight: 400;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin-bottom: 10px;
}

a {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #1a1b1f;
  text-decoration: underline;
}

a:hover {
  color: #32343a;
}

a:active {
  color: #43464d;
}

ul {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 40px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

img {
  display: block;
}

label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px 30px;
  border-left: 5px solid #e2e2e2;
  font-size: 20px;
  line-height: 34px;
}

figure {
  margin-top: 25px;
  padding-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.divider {
  height: 1px;
  background-color: #eee;
}

.styleguide-content-wrap {
  text-align: center;
}

.section {
  margin-right: 30px;
  margin-left: 30px;
}

.section.cc-cta {
  padding-right: 80px;
  padding-left: 80px;
  background-color: #8d0f42;
}

.styleguide-block {
  display: block;
  margin-top: 80px;
  margin-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-tiny {
  font-size: 12px;
  line-height: 20px;
}

.paragraph-bigger {
  margin-bottom: 10px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.paragraph-bigger.cc-bigger-white-light {
  margin-bottom: 0px;
  opacity: 0.6;
  color: #8d0f42;
  font-size: 26px;
  font-weight: 600;
}

.button {
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #8d0f42;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #32343a;
  color: #fff;
}

.button:active {
  background-color: #43464d;
}

.button.cc-jumbo-button {
  padding: 16px 35px;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-jumbo-button.cc-jumbo-white {
  background-color: #8d0f42;
  color: #000;
}

.button.cc-jumbo-button.cc-jumbo-white:hover {
  background-color: #f1f1f1;
}

.button.cc-jumbo-button.cc-jumbo-white:active {
  background-color: #e1e1e1;
}

.button.cc-contact-us {
  position: relative;
  z-index: 5;
  background-color: #8d0f42;
}

.button.cc-white-button {
  padding: 16px 35px;
  background-color: #fff;
  color: #202020;
  font-size: 14px;
  line-height: 26px;
}

.button.cc-white-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.button.cc-white-button:active {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.cc-styleguide-label {
  margin-bottom: 25px;
}

.label.cc-light {
  opacity: 0.6;
}

.label.cc-blog-date {
  margin-top: 20px;
  opacity: 0.6;
}

.heading-jumbo-tiny {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.rich-text {
  width: 70%;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.rich-text p {
  margin-top: 15px;
  margin-bottom: 25px;
  opacity: 0.6;
}

.paragraph-light {
  opacity: 0.6;
  text-align: center;
}

.paragraph-bold {
  text-align: center;
  font-weight: bold;
}

.heading-jumbo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 80px;
  text-transform: none;
}

.heading-jumbo-small {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ebb1b1;
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  text-transform: none;
}

.styleguide-button-wrap {
  margin-top: 10px;
  margin-bottom: 10px;
}

.styleguide-header-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
  color: #fff;
  text-align: center;
}

.paragraph-small {
  font-size: 14px;
  line-height: 26px;
}

.logo-link {
  z-index: 1;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.7;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.navigation {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-item:hover {
  opacity: 0.9;
}

.navigation-item:active {
  opacity: 0.8;
}

.navigation-item.w--current {
  opacity: 1;
  color: #1a1b1f;
  font-weight: 600;
}

.navigation-item.w--current:hover {
  opacity: 0.8;
  color: #32343a;
}

.navigation-item.w--current:active {
  opacity: 0.7;
  color: #32343a;
}

.logo-image {
  display: block;
}

.navigation-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.webflow-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
}

.webflow-link:hover {
  opacity: 1;
}

.webflow-link:active {
  opacity: 0.8;
}

.webflow-logo-tiny {
  margin-top: -2px;
  margin-right: 8px;
}

.cta-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.intro-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #f4f4f4;
  background-image: url('../images/287058_214432161939687_6727400_o.jpg');
  background-position: 0px 0px;
  background-size: cover;
  color: #fff;
}

.intro-header.cc-subpage {
  height: 480px;
  background-color: #000;
  background-image: none;
  color: #fff;
}

.intro-content {
  width: 70%;
  max-width: 1140px;
  text-align: center;
}

.intro-content.cc-homepage {
  margin-top: 60px;
  margin-bottom: 0px;
}

.motto-wrap {
  width: 80%;
  margin-right: auto;
  margin-bottom: 85px;
  margin-left: auto;
  text-align: center;
}

.about-story-wrap {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}

.our-services-grid {
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  -ms-grid-rows: auto 60px auto;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.section-heading-wrap {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.service-icon {
  margin-bottom: 30px;
}

.status-message {
  padding: 9px 30px;
  background-color: #202020;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.status-message.cc-success-message {
  background-color: #12b878;
}

.status-message.cc-error-message {
  background-color: #db4b68;
}

.status-message.cc-no-data {
  display: block;
  width: 70%;
  margin: 100px auto;
}

.contact-form-wrap {
  padding: 45px 50px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
}

.contact-form-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 2.5fr 80px 1fr;
  grid-template-columns: 2.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.details-wrap {
  margin-bottom: 30px;
}

.get-in-touch-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-field {
  margin-bottom: 18px;
  padding: 21px 20px;
  border: 1px solid #e4e4e4;
  border-radius: 0px;
  -webkit-transition: border-color 400ms ease;
  transition: border-color 400ms ease;
  font-size: 14px;
  line-height: 26px;
}

.text-field:hover {
  border-color: #e3e6eb;
}

.text-field:active {
  border-color: #43464d;
}

.text-field:focus {
  border-color: #43464d;
}

.text-field::-webkit-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field:-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::-ms-input-placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field::placeholder {
  color: rgba(50, 52, 58, 0.4);
}

.text-field.cc-contact-field {
  margin-bottom: 25px;
}

.text-field.cc-textarea {
  height: 200px;
  padding-top: 12px;
}

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact-form-heading-wrap {
  margin-bottom: 40px;
}

.contact-heading {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 400;
}

.map {
  height: 460px;
  margin-bottom: 100px;
  line-height: 20px;
}

.contact-team-name-wrap {
  margin-bottom: 30px;
}

.our-contacts {
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  grid-template-areas: ". . .";
  -ms-grid-columns: 1fr 80px 1fr 80px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: center;
}

.contact-team-details-wrap {
  margin-top: 30px;
}

.contact-team-pic {
  height: 150px;
  margin-bottom: 30px;
  background-color: #f4f4f4;
}

.team-pic {
  width: 100%;
  height: 420px;
  margin-bottom: 40px;
  background-color: #f4f4f4;
}

.team-members {
  margin-bottom: 60px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-rows: auto 30px auto;
  grid-template-areas: ". . ." ". . .";
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.team-member-title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.team-member-name {
  margin-bottom: 5px;
  opacity: 1;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.projects-grid {
  margin-bottom: 60px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-areas: "." "." ".";
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto 30px auto 30px auto;
  grid-template-rows: auto auto auto;
}

.project-name-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.project-name-link {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-decoration: none;
}

.project-name-link:hover {
  opacity: 0.8;
}

.project-name-link:active {
  opacity: 0.7;
}

.project-cover-link {
  margin-bottom: 40px;
}

.project-cover-link:hover {
  opacity: 0.8;
}

.project-cover-link:active {
  opacity: 0.7;
}

.project-overview-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 620px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f4f4f4;
  background-image: url('../images/portfolio-1---wide.svg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.project-overview-header.cc-project-2-header {
  background-image: url('../images/portfolio-2---wide.svg');
  background-position: 50% 50%;
}

.project-details-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-pics {
  margin-bottom: 120px;
}

.detail-image {
  width: 100%;
  margin-bottom: 30px;
}

.blog-detail-header-wrap {
  width: 70%;
  margin: 60px auto;
}

.detail-header-image {
  display: block;
  width: 100%;
  height: 620px;
  margin-bottom: 60px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: cover;
}

.detail-header-image.w--current {
  margin-bottom: 60px;
}

.blog-list-wrap {
  margin-bottom: 100px;
}

.blog-item {
  display: block;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.blog-preview-image {
  display: block;
  width: 100%;
  height: 620px;
  margin-bottom: 45px;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: cover;
  -webkit-transition: opacity 600ms ease;
  transition: opacity 600ms ease;
}

.blog-preview-image:hover {
  opacity: 0.8;
}

.blog-preview-image:active {
  opacity: 0.7;
}

.blog-summary-wrap {
  width: 70%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  text-align: left;
}

.blog-heading-link {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 46px;
  font-weight: 400;
  text-decoration: none;
}

.blog-heading-link:hover {
  opacity: 0.8;
}

.blog-heading-link:active {
  opacity: 0.7;
}

.contact-email-link {
  margin-bottom: 5px;
  opacity: 0.6;
}

.contact-email-link:hover {
  opacity: 1;
}

.contact-email-link:active {
  opacity: 0.8;
}

.protected-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.protected-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.protected-heading {
  margin-bottom: 30px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

._404-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1b1f;
}

._404-content-wrap {
  margin-bottom: 20px;
}

.home-content-wrap {
  margin-top: 80px;
  margin-bottom: 120px;
}

.home-section-wrap {
  margin-bottom: 30px;
}

.section-heading {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 400;
  text-align: center;
}

.about-grid {
  margin-bottom: 80px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  grid-template-areas: ". .";
  -ms-grid-columns: 1fr 80px 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.about-grid.cc-about-2 {
  grid-template-areas: ". .";
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.intro-text {
  width: 80%;
  margin-right: auto;
  margin-bottom: 35px;
  margin-left: auto;
}

.work-heading {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  color: #ebb0b1;
  font-weight: 600;
  text-align: center;
}

.blog-heading {
  margin-bottom: 60px;
  background-color: #94013c;
  text-align: center;
}

.list-item {
  color: #fff;
  list-style-type: decimal;
}

.list-item-2 {
  color: #fff;
  list-style-type: none;
}

.list-item-3 {
  color: #fff;
  list-style-type: none;
}

.list-item-4 {
  color: #fff;
  list-style-type: none;
}

.list-item-5 {
  color: #fff;
  list-style-type: none;
}

.list-item-6 {
  color: #fff;
  list-style-type: none;
}

.list {
  padding-left: 0px;
  list-style-type: none;
}

.list-2 {
  padding-left: 0px;
  list-style-type: none;
}

.list-3 {
  padding-left: 0px;
  list-style-type: none;
}

.list-4 {
  padding-left: 0px;
  list-style-type: none;
}

.list-5 {
  padding-left: 0px;
  list-style-type: none;
}

.list-6 {
  padding-left: 0px;
  list-style-type: none;
}

.column {
  color: #fff;
}

.list-7 {
  padding-left: 0px;
  list-style-type: none;
}

.list-8 {
  padding-left: 0px;
  list-style-type: none;
}

.list-9 {
  padding-left: 0px;
  list-style-type: none;
}

.list-10 {
  padding-left: 0px;
  list-style-type: none;
}

.list-11 {
  padding-left: 0px;
  list-style-type: none;
}

.list-12 {
  padding-left: 0px;
  list-style-type: none;
}

.list-13 {
  padding-left: 0px;
  list-style-type: none;
}

.list-14 {
  padding-left: 0px;
  list-style-type: none;
}

.list-15 {
  padding-left: 0px;
  color: #fff;
  list-style-type: none;
}

.list-16 {
  padding-left: 0px;
  list-style-type: none;
}

.list-17 {
  padding-left: 0px;
  list-style-type: none;
}

.list-18 {
  padding-left: 0px;
  list-style-type: none;
}

.list-19 {
  padding-left: 0px;
  list-style-type: none;
}

.list-20 {
  padding-left: 0px;
  list-style-type: none;
}

.list-21 {
  list-style-type: none;
}

.list-22 {
  padding-left: 0px;
  list-style-type: none;
}

.list-23 {
  padding-left: 0px;
  list-style-type: none;
}

.list-24 {
  padding-left: 0px;
  list-style-type: none;
}

.list-25 {
  list-style-type: square;
}

.list-26 {
  list-style-type: square;
}

.list-27 {
  list-style-type: square;
}

.list-item-7 {
  list-style-type: square;
}

.list-item-8 {
  list-style-type: square;
}

.list-28 {
  list-style-type: square;
}

.list-29 {
  list-style-type: square;
}

.image {
  background-image: url('../images/11212707_837856036263960_6178690926880933877_o.jpg');
  background-position: 0px 0px;
  background-size: 125px;
}

.slide {
  overflow: visible;
  background-image: url('../images/287058_214432161939687_6727400_o.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  padding-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #1c9b5d;
  font-size: 14px;
  font-weight: 600;
}

.icon {
  opacity: 1;
}

.text-block-2 {
  color: #fff;
}

.section-2 {
  margin-top: 40px;
}

.location {
  margin-top: 40px;
}

.details {
  margin-top: 40px;
}

.menu_especiales {
  background-color: #8d0f42;
}

.slider {
  margin-top: 0px;
}

.container-2 {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  background-color: #6d76bd;
}

.text-block-3 {
  padding-right: 10px;
}

.text-block-4 {
  padding-right: 10px;
  color: #fff;
}

.container-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.heading {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  border-bottom: 1px none #fff;
  border-radius: 1px;
  color: #fdcfcf;
  font-weight: 600;
  text-align: center;
}

.list-30 {
  padding-left: 0px;
  list-style-type: none;
}

.list-31 {
  padding-left: 0px;
  list-style-type: none;
}

.list-32 {
  padding-left: 0px;
  list-style-type: none;
}

.list-33 {
  padding-left: 0px;
  list-style-type: none;
}

.list-34 {
  padding-left: 0px;
  list-style-type: none;
}

.list-35 {
  padding-left: 0px;
  list-style-type: none;
}

.list-item-9 {
  list-style-type: none;
}

.list-36 {
  padding-left: 0px;
  list-style-type: none;
}

.list-37 {
  padding-left: 0px;
  list-style-type: none;
}

.list-38 {
  padding-left: 0px;
  list-style-type: none;
}

.list-39 {
  padding-left: 0px;
  list-style-type: none;
}

.list-40 {
  padding-left: 0px;
  list-style-type: none;
}

.list-41 {
  padding-left: 0px;
  list-style-type: none;
}

.list-42 {
  padding-left: 0px;
  list-style-type: none;
}

.list-43 {
  padding-left: 0px;
  list-style-type: none;
}

.list-44 {
  padding-left: 0px;
  list-style-type: none;
}

.list-45 {
  padding-left: 0px;
  list-style-type: none;
}

.list-46 {
  padding-left: 0px;
  list-style-type: none;
}

.list-47 {
  padding-left: 0px;
  list-style-type: none;
}

.list-48 {
  padding-left: 0px;
  list-style-type: none;
}

.list-49 {
  padding-left: 0px;
  list-style-type: none;
}

.list-50 {
  padding-left: 0px;
  list-style-type: none;
}

.list-51 {
  padding-left: 0px;
  list-style-type: none;
}

.list-52 {
  padding-left: 0px;
  list-style-type: none;
}

.list-53 {
  padding-left: 0px;
  list-style-type: none;
}

.list-54 {
  padding-left: 0px;
  list-style-type: none;
}

.list-55 {
  padding-left: 0px;
  list-style-type: none;
}

.list-item-10 {
  color: #fff;
}

.list-item-11 {
  color: #fff;
}

.list-item-12 {
  color: #fff;
}

.list-item-13 {
  color: #fff;
}

.list-item-14 {
  color: #fff;
}

.list-item-15 {
  color: #fff;
}

.list-item-16 {
  color: #fff;
}

.list-item-17 {
  color: #fff;
}

.list-item-18 {
  color: #fff;
}

.list-item-19 {
  color: #fff;
}

.list-item-20 {
  color: #fff;
}

.list-item-21 {
  color: #fff;
}

.list-item-22 {
  color: #fff;
}

.list-item-23 {
  color: #fff;
}

.list-item-24 {
  color: #fff;
}

.list-item-25 {
  color: #fff;
}

.list-item-26 {
  color: #fff;
}

.list-item-27 {
  color: #fff;
}

.list-item-28 {
  color: #fff;
}

.list-item-29 {
  color: #fff;
}

.tabs {
  margin-bottom: 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
}

.columns {
  color: #fff;
  text-align: center;
}

.columns-2 {
  color: #fff;
  text-align: center;
}

.tabs-2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
}

.columns-3 {
  color: #fff;
  text-align: center;
}

.columns-4 {
  margin-right: 10px;
  color: #fff;
  text-align: center;
}

.tabs-3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
}

.columns-5 {
  color: #8d0f42;
  font-weight: 500;
  text-align: center;
}

.columns-6 {
  color: #8d0f42;
  font-weight: 500;
  text-align: center;
}

.columns-7 {
  color: #fff;
  text-align: center;
}

.tabs-4 {
  padding-bottom: 10px;
}

.menu-container {
  margin-bottom: 60px;
  background-color: #fff;
  text-align: center;
}

.columns-8 {
  color: #fff;
  text-align: center;
}

.columns-9 {
  color: #fff;
  text-align: center;
}

.columns-10 {
  color: #fff;
  text-align: center;
}

.tabs-5 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
}

.menu-heading2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-style: none;
  border-width: 1px;
  border-color: #8d0f42;
  border-radius: 1px;
  color: #8d0f42;
  font-weight: 600;
  text-align: center;
}

.columns-11 {
  padding-bottom: 10px;
  border-bottom: 1px none #fff;
  border-radius: 0px;
  color: #fff;
  text-align: center;
}

.columns-12 {
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
}

.columns-13 {
  color: #fff;
  text-align: center;
}

.columns-14 {
  color: #fff;
  text-align: center;
}

.columns-15 {
  color: #fff;
  text-align: center;
}

.list-56 {
  padding-left: 0px;
}

.list-57 {
  padding-left: 0px;
}

.columns-16 {
  color: #fff;
  text-align: center;
}

.tabs-6 {
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
}

.columns-17 {
  color: #fff;
  text-align: center;
}

.columns-18 {
  color: #fff;
  text-align: center;
}

.tabs-7 {
  padding-bottom: 10px;
}

.columns-19 {
  color: #fff;
  text-align: center;
}

.columns-20 {
  color: #8d0f42;
  font-weight: 500;
}

.columns-21 {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.columns-22 {
  color: #8d0f42;
  font-weight: 500;
}

.columns-23 {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.tabs-menu {
  border-top: 1px solid #8d0f42;
  border-radius: 1px;
}

.image-2 {
  display: inline-block;
}

.slide-2 {
  background-image: url('../images/289602_214432035273033_243890_o.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.column-2 {
  color: #fff;
}

.list-58 {
  padding-left: 0px;
  list-style-type: none;
}

.column-3 {
  color: #fff;
}

.list-59 {
  padding-left: 0px;
  list-style-type: none;
}

.list-item-30 {
  color: #fff;
}

.list-item-31 {
  color: #fff;
}

.list-item-32 {
  color: #fff;
}

.list-item-33 {
  color: #fff;
}

.list-item-34 {
  color: #fff;
}

.list-60 {
  padding-left: 0px;
  list-style-type: none;
}

.list-item-35 {
  color: #8d0f42;
}

.list-item-36 {
  color: #8d0f42;
}

.list-item-37 {
  color: #8d0f42;
}

.slide-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slide-menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-2 {
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  background-color: #8d0f42;
  text-align: center;
}

.mask {
  padding-top: 40px;
  padding-bottom: 40px;
}

.list-item-38 {
  text-align: center;
}

.columns-24 {
  text-align: center;
}

.columns-25 {
  text-align: center;
}

.slider-3 {
  background-color: #8d0f42;
}

.slide-nav-2 {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.mask-2 {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 40px;
}

.slider-4 {
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  background-color: #8d0f42;
  color: #fff;
}

.columns-26 {
  text-align: center;
}

.slide-nav-3 {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mask-3 {
  padding-top: 40px;
}

.slider-5 {
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  background-color: #8d0f42;
}

.columns-27 {
  text-align: center;
}

.slide-nav-4 {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mask-4 {
  padding-top: 40px;
}

.slider-6 {
  background-color: #8d0f42;
}

.slide-nav-5 {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-7 {
  border-top: 1px solid #8d0f42;
  border-radius: 1px;
  background-color: #fff;
}

.mask-5 {
  padding-top: 40px;
}

.slide-nav-6 {
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mask-6 {
  padding-top: 40px;
}

.slider-8 {
  background-color: #8d0f42;
}

.list-item-39 {
  text-align: center;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid #fff;
  border-radius: 1px;
  color: #fff;
}

.heading-3 {
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
}

.heading-4 {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.heading-5 {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.heading-6 {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.heading-7 {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.heading-8 {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.column-4 {
  color: #fff;
}

.column-5 {
  color: #fff;
}

.heading-9 {
  border-style: none none solid;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
}

.heading-10 {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.list-item-40 {
  color: #fff;
}

.list-item-41 {
  color: #fff;
}

.list-item-42 {
  color: #fff;
}

.heading-11 {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.heading-12 {
  border-bottom: 1px solid #8d0f42;
  color: #8d0f42;
  font-weight: 600;
}

.heading-13 {
  border-bottom: 1px solid #8d0f42;
  color: #8d0f42;
  font-weight: 600;
}

.heading-14 {
  border-bottom: 1px solid #8d0f42;
  color: #8d0f42;
  font-weight: 600;
}

.list-61 {
  padding-left: 0px;
  list-style-type: none;
}

.columns-28 {
  color: #8d0f42;
  font-weight: 500;
}

.list-item-43 {
  color: #fff;
}

.list-item-44 {
  color: #fff;
}

.list-item-45 {
  color: #fff;
}

.list-item-46 {
  color: #fff;
}

.list-item-47 {
  color: #fff;
}

@media (max-width: 991px) {
  .section.cc-cta {
    padding-right: 0px;
    padding-left: 0px;
  }
  .styleguide-block {
    text-align: center;
  }
  .button {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .button.cc-contact-us {
    display: none;
  }
  .heading-jumbo {
    font-size: 56px;
    line-height: 70px;
  }
  .logo-link.w--current {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .menu-icon {
    display: block;
  }
  .menu {
    position: static;
    margin-left: 30px;
  }
  .navigation-wrap {
    background-color: #fff;
  }
  .navigation {
    padding: 25px 30px;
  }
  .navigation-item {
    padding: 15px 30px;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    text-align: center;
  }
  .navigation-item:hover {
    background-color: #f7f8f9;
  }
  .navigation-item:active {
    background-color: #eef0f3;
  }
  .menu-button {
    padding: 0px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .navigation-items {
    background-color: #fff;
  }
  .cta-text {
    width: auto;
  }
  .cta-wrap {
    width: auto;
    padding: 80px 50px 90px;
  }
  .our-services-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: ". ." ". ." ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    text-align: center;
  }
  .service-icon {
    display: inline-block;
  }
  .contact-form-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .get-in-touch-form {
    text-align: left;
  }
  .our-contacts {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .team-members {
    grid-template-areas: ". ." ". ." ". .";
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .team-member-title-wrap {
    margin-bottom: 30px;
  }
  .project-details-grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .blog-detail-header-wrap {
    width: 70%;
  }
  .detail-header-image {
    height: 460px;
  }
  .blog-item {
    width: 80%;
  }
  .blog-preview-image {
    height: 460px;
  }
  .blog-summary-wrap {
    width: 100%;
  }
  .about-grid {
    grid-row-gap: 50px;
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 50px auto;
    grid-template-rows: auto auto;
    text-align: center;
  }
  .about-grid.cc-about-2 {
    grid-template-areas: "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .intro-text {
    width: auto;
  }
  .image-2 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .section {
    margin-right: 15px;
    margin-left: 15px;
  }
  .section.cc-cta {
    padding: 15px;
  }
  .section.cc-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
  .section.cc-store-home-wrap {
    margin-right: 15px;
    margin-left: 15px;
  }
  .container {
    text-align: center;
  }
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
  .rich-text {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }
  .heading-jumbo {
    font-size: 50px;
    line-height: 64px;
  }
  .heading-jumbo-small {
    font-size: 30px;
    line-height: 52px;
  }
  .logo-link {
    padding-left: 0px;
  }
  .navigation {
    padding: 20px 30px;
  }
  .cta-wrap {
    padding-right: 30px;
    padding-left: 30px;
  }
  .intro-content {
    width: 80%;
  }
  .our-services-grid {
    grid-row-gap: 60px;
    grid-template-areas: "." "." "." "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 60px auto 60px auto 60px auto 60px auto 60px auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .status-message.cc-no-data {
    width: 80%;
    max-width: 470px;
  }
  .contact-form-wrap {
    padding: 30px;
  }
  .text-field.cc-contact-field {
    text-align: left;
  }
  .text-field.cc-textarea {
    text-align: left;
  }
  .team-pic {
    height: 300px;
    margin-bottom: 30px;
  }
  .team-member-name {
    font-size: 16px;
    line-height: 28px;
  }
  .project-name-wrap {
    margin-bottom: 30px;
  }
  .project-name-link {
    font-size: 16px;
    line-height: 28px;
  }
  .detail-image {
    margin-bottom: 15px;
  }
  .blog-detail-header-wrap {
    width: 90%;
    max-width: 470px;
    text-align: left;
  }
  .blog-item {
    width: 90%;
    max-width: 470px;
  }
  .blog-summary-wrap {
    text-align: center;
  }
  .utility-page-wrap {
    padding: 15px;
  }
  ._404-wrap {
    padding: 30px;
  }
  .list-item {
    text-align: center;
    list-style-type: none;
  }
  .column {
    padding-left: 0px;
  }
  .image-3 {
    display: inline-block;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 52px;
  }
  .rich-text {
    width: 100%;
    max-width: none;
  }
  .heading-jumbo {
    font-size: 36px;
    line-height: 48px;
  }
  .menu {
    margin-left: 15px;
  }
  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .menu-button.w--open {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .cta-wrap {
    padding-right: 15px;
    padding-left: 15px;
  }
  .status-message.cc-no-data {
    width: 100%;
  }
  .contact-form-grid {
    width: 100%;
  }
  .our-contacts {
    width: 90%;
  }
  .team-members {
    grid-template-areas: "." "." "." "." "." ".";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .project-details-grid {
    width: 100%;
  }
  .blog-detail-header-wrap {
    width: 100%;
    max-width: none;
  }
  .blog-item {
    width: 100%;
    max-width: none;
  }
}

#w-node-76c147234d34-e9bebe71 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-76c147234d3f-e9bebe71 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-76c147234d41-e9bebe71 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-27f88a387918-aabebe7f {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-27f88a387928-aabebe7f {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-27f88a387918-72bebe80 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-27f88a387928-72bebe80 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-27f88a387918-bfbebe81 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-27f88a387928-bfbebe81 {
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

@media (max-width: 991px) {
  #w-node-76c147234d34-e9bebe71 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-76c147234d3f-e9bebe71 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
  #w-node-76c147234d41-e9bebe71 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-27f88a387928-aabebe7f {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-27f88a387928-72bebe80 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #w-node-27f88a387928-bfbebe81 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
}

